.footer_public{
    background-color: #333333;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15px;
    padding-left: 15px;
}
.redes_sociales_list li{
    display: block;
}

.footer-letras{
    font-family: 'Raleway', sans-serif;
     font-size: 18px;
     color: #ffb8b8
}
header{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

header.noindex{
    background-color: #ffb8b8;
}
header ul{
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
    margin-right: 10%;
}

header a.logo {
    margin-left: 5%;
}

header ul li{
   list-style: none;
}

header ul li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    transition: .5s;
    font-size: 13px
}
header ul li a:hover{
    background: #777;
    color: #ffff;
}
.toggle{
    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    background: #ff0000;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}
@media (max-width: 1000px){
    .toggle{
        display: block;
    }
    header{
        padding: 0 0;
        background: rgb(255, 255, 255);
    }
    header ul{
        width: 100%;
        top: -4px;
        display: none;
        
    }
    header ul.active{
        display: block;
        z-index: 1000;
    }
    header ul li a{
        margin: 0;
        display: block;
        text-align: center;
        color: #ffff;
        background: rgba(0,0,0,.5);
    }
}

.img-circle {
    border-radius: 50%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../img/cactus.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section{
      position: fixed;
      top: 0;
      width: 100%;
      height: 100vh;
      background: url("http://localhost:8888/mart/img/Suculentas.jpg");
      background-attachment: fixed;
      clip-path: circle(0 at center);
  }
  .container-circle{
      position: relative;
      margin-top: 200vh;
      background: #fff;
  }
  .container-circle h2{
      font-size: 2.5em;
      margin-bottom: 20 px;

  }
  .container-circle-content{
    padding: 100px;
  }
  .title{
      position: relative;
      top: 250px;
      z-index: 1;
      text-align: center;
      width: 100%;
  }


  /*carrito*/
  
  .card-product-list,
  .card-product-grid {
      margin-bottom: 0
  }
 
  .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.10rem;
      margin-top: 10px
  }
 
  .card-product-grid:hover {
      -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
      box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
      -webkit-transition: .3s;
      transition: .3s
  }
 
  .card-product-grid .img-wrap {
      border-radius: 0.2rem 0.2rem 0 0;
      height: 220px
  }
 
  .card .img-wrap {
      overflow: hidden
  }
 
  .card-lg .img-wrap {
      height: 280px
  }
 
  .card-product-grid .img-wrap {
      border-radius: 0.2rem 0.2rem 0 0;
      height: 228px;
      padding: 16px
  }
 
  [class*='card-product'] .img-wrap img {
      height: 100%;
      max-width: 100%;
      width: auto;
      display: inline-block;
      -o-object-fit: cover;
      object-fit: cover
  }
 
  .img-wrap {
      text-align: center;
      display: block
  }
 
  .card-product-grid .info-wrap {
      overflow: hidden;
      padding: 18px 20px
  }
 
  [class*='card-product'] a.title {
      color: #212529;
      display: block
  }
 
  .rating-stars {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      white-space: nowrap;
      clear: both
  }
 
  .rating-stars li.stars-active {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden
  }
 
  .rating-stars li {
      display: block;
      text-overflow: clip;
      white-space: nowrap;
      z-index: 1
  }
 
  .card-product-grid .bottom-wrap {
      padding: 18px;
      border-top: 1px solid #e4e4e4
  }
 
  .btn {
      display: inline-block;
      font-weight: 600;
      color: #343a40;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.45rem 0.85rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.2rem
  }
 
  .btn-primary {
      color: #fff;
      background-color: #3167eb;
      border-color: #3167eb
  }
 
  .fa {
      color: #FF5722
  }

  .bg-dark {
    background-color: #343a40 !important; }

   .border-gray-700 {
        border-color: #303030!important;
    }
   .py-12 {
        padding-bottom: 6rem!important;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5!important;
    }

    .py-6 {
        padding-bottom: 1.5rem!important;
    }
    .pt-6, .py-6 {
        padding-top: 1.5rem!important;
    }
    .container {
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    .bg-cover {
        background-repeat: no-repeat!important;
        background-position: center center!important;
        background-size: cover!important;
    }

@media print {
    .no-print, .no-print * {
        display: none !important;
    } 
    .ticket {
        padding: 0;
        margin: 0 ;
        width: 100mm;
    }
}
@page {
    size: A4;
    margin: 0;
}